test/test-code-in-harness-*.js
_site

# TODO The following should be removed from here and .gitignore after conditional build is finished
src/static/background.js
src/static/content.js
src/static/popup.js
src/static/options.js
