:root {
	--hla: #155799;
	--hlb: #159957;
	--words: #606c71;
}

body {
	margin: 0;
	font-family: Verdana, sans-serif;
	color: var(--words);
	line-height: 1.5em;
}

header {
	background-image: linear-gradient(120deg, var(--hla), var(--hlb));
	padding: 10vw;
	margin: 0;
	text-align: center;
	color: white;
}

section, footer {
	padding: 5vw;
	margin: auto;
}

footer {
	padding-bottom: 1em;
}

section.abstract, section.install {
	padding-bottom: 0;
	padding-top: 2em;
}

section.install { text-align: center; }
section.install ul {
	width: 75%;
	margin: auto;
	padding: 0;
	list-style-type: none;
}
section.install li {
	background: #eee;
	padding: 1em;
	margin: 0.5em;
	border-radius: 1em;
}

section.feature:nth-child(odd) h2 { color: var(--hlb); }
section.feature:nth-child(even) h2 { color: var(--hla); }

img {
	width: 100%;
	height: auto;
	filter: drop-shadow(0.5em 0.5em 0.5em #999);
}

img:nth-of-type(2) { padding-top: 2em; }

section.install a { color: var(--words); }
footer a { color: var(--words); }

@media screen and (min-width: 45em) {
	header { padding: 5vw; }

	h1 { font-size: 3em }

	section.install ul, section.feature {
		display: flex;
		justify-content: space-between;
	}

	section.install ul li {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	section.feature > :first-child { flex: 0 1 40%; }
	section.feature > :last-child { flex: 0 1 55%; }

	section.feature:nth-child(odd) { flex-direction: row; }
	section.feature:nth-child(even) { flex-direction: row-reverse; }
}

@media screen and (min-width: 65em) {
	section { max-width: 65em; }
}
