Thanks for your review :-).

Changes in this release: https://github.com/matatk/landmarks/blob/master/CHANGELOG.md#CHANGELOG_ANCHOR

There are no accounts or other credentials. The main means of interaction with the extension are via the browserAction and keyboard shortcuts (which are detailed in the Help page, accessible via the browserAction).
