:root { --spacing: 0.25rem; }

body { margin: 0; }

#content {
	padding: calc(var(--spacing) * 2);
	padding-top: 0;
}

.warning { margin-top: var(--spacing); }

ul {
	margin: 0;
	padding: 0;
}

ul ul { padding-left: 2rem; }

li {
	display: block;
	margin-top: 0.5rem;
}

button {
	/* Due to using browser styles, we need to override height in Firefox
	 * https://github.com/matatk/landmarks/issues/149 */
	height: auto;
	text-align: center;  /* needed for Firefox due to using browser styles */
}

#show-all-label {
	display: block;
	margin: 0;
	margin-bottom: calc(var(--spacing) * 2);
	margin-top: calc(var(--spacing) * 2);
	white-space: nowrap;  /* encourage the pop-up to be wide enough on Chrome */
}

#links {
	display: flex;
	margin-left: var(--spacing);
	margin-right: 0;
	margin-bottom: calc(var(--spacing) * 2);
}

#links button {
	display: block;
	flex-grow: 1;
	margin-left: 0;
	margin-right: var(--spacing);
}

label,
:not(.warning) > p {
	color: var(--text-1);  /* countermand Firefox extension.css */
}
