:root {
	--text: black;
	--bkg: white;
	--thin-accent: gray;
	--thick-accent: #ccc;
	--danger: #e00;
	--link: blue;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: white;
		--bkg: black;
		--thin-accent: #6b6b6b;
		--thick-accent: #444;
		--danger: red;
		--link: #88f;
	}
}

html {
	/* Shared across themes */
	--border: 1px solid var(--thin-accent);
	--small-spacing: 0.15rem;
	--padding: 0.25rem;
	--big-padding: 0.5rem;
}

body {
	font-family: sans-serif;
	line-height: 1.2;
	color: var(--text);
	background-color: var(--bkg);
	margin: 0;
}

a { color: var(--link); }

button {
	font-size: inherit;
	color: var(--text);
	background-color: var(--bkg);
}
button.examine::after { content: "🔍"; }

/* Ensure some vertical padding between sections, and horizontal padding for
 * their contents. The DevTools panel contains only things that are warings or
 * grouped expandable content. */
.warning,
details.department > :not(summary) {
	padding-left: var(--padding);
	padding-right: var(--padding);
}

/* A small gap between them makes them look better when collapsed. */
details.department { margin-bottom: var(--small-spacing); }

#show-all-label {
	display: block;
	margin: var(--padding) 0;
}

details.department > summary { background: var(--thick-accent); }

h1 {
	display: inline-block;
	font-size: 1rem;
	margin: 0;
	padding-top: var(--small-spacing);
	padding-bottom: var(--small-spacing);
	padding-left: var(--padding);
}

ul {
	margin: 0;
	padding: 0;
}

ul ul { padding-left: 2rem; }

li,
p {
	display: block;
	margin-top: var(--padding);
}

button,
details.tooltip > summary {
	border: var(--border);
	padding: var(--padding);
	line-height: 1rem;  /* force glyphs to not be too big */
}

details.tooltip > summary { list-style: none; }  /* for disclosure symbol in Firefox */

button + button,
button + details.tooltip > summary { margin-left: var(--big-padding); }

/* Focus styles are left to the browser, as defaults are good these days */
button:hover,
label:hover,
a:hover {
	background-color: var(--thick-accent);
}

details.tooltip { display: inline; }

details.tooltip > p {
	margin: 0;
	padding: var(--padding);
	background-color: var(--bkg);
	border: var(--border);
	position: absolute;
}

details.tooltip > summary::-webkit-details-marker { display: none; }
details.tooltip > summary.definition::after { content: "ℹ️"; }
details.tooltip > summary.lint-warning::after { content: "⚠️"; }

dl {
	display: grid;
	grid-template-columns: max-content auto;
	margin: 0;
}

dt,
dd {
	align-self: center;
	margin-top: var(--small-spacing);
	margin-bottom: var(--small-spacing);
}

/* DevTools connection error (when the extension is reloaded on Chrome et al) */
div.warning > p {
	border: 0.15em solid var(--danger);
	padding: 1rem;
}

table {
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

td {
	border: 1px solid gray;
	text-align: right;
}

td.warning {
	font-weight: bold;
	color: red;
}

/* FIXME: DRY with common.css —- it's still in there because common.css is also
 * used on the home page */
.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	white-space: nowrap;
}
