h1 {
	margin: 0;
	font-size: 1rem;
}

#mutation-observation-station {
	/* TODO: make custom properties for these, or use existing? */
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

details.floaty { display: inline; }
details.floaty p { position: absolute; }

summary.definition { list-style: none; }
summary.definition::-webkit-details-marker { display: none; }

summary.definition::after {
	content: "?";
	border: var(--standard-control-line);
	margin: var(--top-padding);
	padding-left: var(--top-padding);
	padding-right: var(--top-padding);
}
