:root {
	--spacing: 0.25em;
}

body {
	margin: 0 !important;  /* https://stackoverflow.com/a/37425269/1485308 */
	min-width: 12em;       /* for Chrome-like browsers */
	font-family: sans-serif;
}

#content {
	padding: calc(var(--spacing) * 2);
}

h1 {
	font-size: 1em;
	margin: 0;
	margin-bottom: calc(var(--spacing) * 4);
}

p,
#show-all-label {
	margin: 0;
	margin-bottom: calc(var(--spacing) * 2);
}

#show-all-label {
	display: block;
	margin-top: calc(var(--spacing) * 2);
}

ul {
	margin: 0;
	padding: 0;
}

ul ul {
	padding-left: 2em;
}

li {
	display: block;
}

button {
	margin: 0;
	margin-bottom: var(--spacing);
	height: auto;         /* stops Firefox causing overflows on Windows
	https://github.com/matatk/landmarks/issues/149 */
	padding-left: 0.5em;  /* These are needed due to the above */
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#links {
	display: flex;
	margin-left: var(--spacing);
	margin-right: 0;
}

#links button {
	box-sizing: border-box;
	display: block;
	flex-grow: 1;
	text-align: center;
	margin-left: 0;
	margin-right: var(--spacing);
}
