ul {
	margin: 0;
	padding: 0;
}

ul ul {
	padding-left: 2em;
}

li {
	display: block;
}

button {
	margin: 0.25em;
	height: auto;         /* stops Firefox causing overflows on Windows
	                         https://github.com/matatk/landmarks/issues/149 */
	padding-left: 0.5em;  /* These are needed due to the above */
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

body {
	padding: 0.5em;
	font-family: sans-serif;
}

h1 {
	font-size: 1em;
	padding: 0.25em;
	margin: 0;
}

label {
	margin-top: 0.5em;
}

/* ui */
:root {
	--light: #e4fbf0;
	--vivid: #159957;
}

#note {
	background-color: var(--light);
	border: 1px solid var(--vivid);
	border-radius: 1em;
}

#note p {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

#note div {
	display: flex;
	flex-direction: column;
}

#note button {
	flex-grow: 1;
	border-color: var(--vivid);
	background-color: var(--light);
	border-radius: 1em;
	text-align: center;
}
/* /ui */
