:root {
	--spacing: 0.25em;
}

* {
	box-sizing: border-box;  /* TODO: needed? */
}

body {
	margin: 0 !important;  /* https://stackoverflow.com/a/37425269/1485308 */
	min-width: 12em;       /* for Chrome-like browsers */
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
}

#container {
	padding: calc(var(--spacing) * 2);
	flex-grow: 1;
}

h1 {
	font-size: 1em;
	margin: 0;
	margin-bottom: calc(var(--spacing) * 4);
}

p, #show-all {
	margin: 0;
	margin-bottom: calc(var(--spacing) * 2);
}

#show-all {
	margin-top: calc(var(--spacing) * 2);
}

ul {
	margin: 0;
	padding: 0;
}

ul ul {
	padding-left: 2em;
}

li {
	display: block;
}

button {
	margin: 0;
	margin-bottom: var(--spacing);
	height: auto;         /* stops Firefox causing overflows on Windows
	https://github.com/matatk/landmarks/issues/149 */
	padding-left: 0.5em;  /* These are needed due to the above */
	padding-right: 0.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

#bottom {
	display: flex;
}

#bottom button {
	font-size: inherit;
	margin: 0;
	flex-grow: 1;
	text-align: center;
}
