div.label-first {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-bottom: 0.5em;
}

div.input-first {
	padding-bottom: 0.5em;
}

div.label-first label {
	grid-column: 1 / 2;
}

div.label-first input, div.label-first select {
	grid-column: 2 / 3;
}

input[type=number] {
	width: 3em;
}
