div.label-first, div.input-first {
	padding-bottom: 1.25em;
}

div.label-first {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

div.label-first :first-child {
	grid-column: 1 / 2;
}

div.label-first :not(:first-child) {
	grid-column: 2 / 3;
}

div.label-first p {
	margin: 0;
	padding: 0.25em;
	padding-left: calc(8px + 3px);  /* Firefox */
}

div.input-first span {
	margin-left: 0.5em;
}

input[type=number] {
	width: 3em;
}

button[aria-disabled="true"] {
	color: gray;
}

summary {
	padding-bottom: 1em;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
	white-space: nowrap;
}
