html { height: 100%; }

body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#content { flex-grow: 1; }

.warning {
	/* The note is displayed as flexbox due to the general "warning" class, but
	 * we want to display it vertically in the sidebar */
	flex-direction: column;
	margin-bottom: 0.5rem;
}

.warning > :first-child { margin-top: 0.5rem; }
.warning > * { margin-bottom: 0.5rem; }
.warning > :last-child { margin-left: 0; }  /* countermand common.css */

.warning button {
	width: 100%;
	border-color: var(--background-1);
	color: var(--background-1);
	background-color: var(--accent-2);
	font-weight: bold;
}
